<!--Categories-->
<div class="container-fluid categories">
  <div class="line">&emsp;</div>
  <h2 class="pt-4">Browse Through Our <a>Categories</a> Here.</h2>
  <!--Categories List-->
  <div class="row pt-5 pb-5 my_card">
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-01.png" alt="" />
          <h4>Blockchain</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-02.png" alt="" />
          <h4>Digital Art</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-03.png" alt="" />
          <h4>Music Art</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-04.png" alt="" />
          <h4>Virtual World</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-05.png" alt="" />
          <h4>Valuable</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <div class="fst">
        <div class="main">
          <img src="assets/images/icon-06.png" alt="" />
          <h4>Triple NFT</h4>
        </div>
        <div class="scd">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>