
<div class="imgss">
    <h1 style="color: white; font-size: 20px;">Liberty NFT Market</h1>
    <h1 style="font-size: 50px;color: white;">VIEW ITEM DETAILS</h1>
    <h1 style="color: #8c74d4;font-size: 17px;transform: translate(-4%,150%);">Home ></h1>
    <h1 style="font-size: 17px;color: white;transform: translate(3%,27%);"> ITEM DETAILS</h1>
  
  
    <div class="button">
      <a style="transform: translate(0%,60%);" href="http://localhost:4200/explore">Explore your Items</a>
      <a style="transform: translate(10%,60%);" href="http://localhost:4200/createyour">Create your NFT</a>
    </div>
  </div>