.imgss {
    background-image: url('https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/heading-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    height: 530px;
    padding-top: 90px;
}


.imgss h1 {
    text-align: center;
    padding-top: 15px;
    transform: translate(0%,80%);
}

.button a:hover {
    background-color: #ffff;
    color: #7453fc;
    border: 1px solid #fff;
}

.button a {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1 px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

a:hover {
    color: #0a58ca;
}

.button {
    text-align: center;
    transform: translate(0%, -20%);
    margin-right: 20px;
}

.button a:hover {
    background-color: #fff;
    color: #7453fc;
    border: 1px solid #fff;
}

.button a {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden
}