.imgss {
    background-image: url('https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/heading-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    height: 530px;
    padding-top: 90px;
}


.imgss h1 {
    text-align: center;
    padding-top: 15px;
    transform: translate(0%,80%);
}

.button a:hover {
    background-color: #ffff;
    color: #7453fc;
    border: 1px solid #fff;
}

.button a {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1 px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

a:hover {
    color: #0a58ca;
}

.button {
    text-align: center;
    transform: translate(0%, -20%);
    margin-right: 20px;
}

.button a:hover {
    background-color: #fff;
    color: #7453fc;
    border: 1px solid #fff;
}

.button a {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden
}



// Item details
.item-details-page {
    background-image: url(../../assets/images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    position: relative;
}
.section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
}

.section-heading .line-dec {
    width: 100px;
    height: 2px;
    background-color: #7453fc;
    margin: 0 auto 30px auto;
}

.section-heading h2 {
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.section-heading h2 em {
    color: #7453fc;
    font-style: normal;
}


#contact {
    background-color: #37393c;
    border-radius: 20px;
    padding: 60px 30px;
    margin-bottom: 120px;
}
.item-details-page form {
    margin-top: 40px;
}

#contact label {
    font-size: 15px;
    color: #fff;
    margin-bottom: 8px;
}
.item-details-page form label {
    color: #afafaf;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
label {
    display: inline-block;
}

#contact input {
    width: 100%;
    height: 46px;
    text-align: left;
    padding: 0px 15px;
    background-color: #282b2f;
    border: 1px solid #404245;
    margin-bottom: 30px;
    font-weight: 500;
    color: #afafaf;
}
.item-details-page form input {
    width: 100px;
    height: 46px;
    border: 1px solid #7453fc;
    outline: none;
    border-radius: 23px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin-right: 15px;
}
#contact input#file {
    padding: 8px 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
#contact button {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.item-details-page button {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.item-details-page button:after {
    width: 50%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.item-details-page button:hover {
    background-color: #ffff;
    color: #7453fc;
    border: 1px solid #fff;
}


// Below section
.item-details-page .left-image {
    margin-right: 30px;
}
.item-details-page h4 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}

.item-details-page {
    background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
    color: white;
   padding: 50px;
}
.create-nft {
    background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
}
.section-heading .line-dec {
    width: 100px;
    height: 2px;
    background-color: rgb(116, 83, 252);
    margin: 0px auto 30px;
}
.section-heading h2 em {
    color: rgb(116, 83, 252);
    font-style: normal;
}
.section-heading h2 {
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
img {
    width: 100%;
    overflow: hidden;
}

footer {
    background: linear-gradient(132deg, rgb(125, 90, 254) 25%, rgb(160, 84, 244) 100%);
    text-align: center;
    padding: 25px 0px;
}
.align-self-center {
    align-self: center !important;
}
.item-details-page h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

.item-details-page h4 {
    font-size: 20px;
    margin-bottom: 25px;
}
.item-details-page span.author {
    display: flex;
    margin-bottom: 30px;
}
.item-details-page p {
    position: relative;
    z-index: 2;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.item-details-page span.bid, .item-details-page span.owner, .item-details-page span.ends {
    line-height: 35px;
    position: relative;
    z-index: 2;
}


.col-3 {
    flex: 0 0 auto;
    width: 25%;
}


.col-4 {
    flex: 0 0 auto;
    width: 33.3333%;
}


.col-5 {
    flex: 0 0 auto;
    width: 41.6667%;
}

.item-details-page form {
    margin-top: 40px;
}
.align-self-center {
    align-self: center !important;
}
.item-details-page form label {
    color: rgb(175, 175, 175);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.item-details-page form input {
    width: 100px;
    height: 46px;
    border: 1px solid rgb(116, 83, 252);
    outline: none;
    border-radius: 23px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 15px;
}



.item-details-page button::after {
    width: 50%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.item-details-page button {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 83, 252);
    border: 1px solid rgb(116, 83, 252);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
}
.main-button a:hover {
    background-color: #fff;
    color: #7453fc;
    border: 1px solid #fff;
}