*{
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.create-nft {
    background-image: url(../../assets/images/main-bg.jpg);
    background-repeat: no-repeat;    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
}

.create-nft .section-heading {
    text-align: left;
    margin-bottom: 50px;
}

.section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
}

.create-nft .section-heading .line-dec {
    margin-left: 0%;
    background-color: #fff;
}
.section-heading .line-dec {
    width: 100px;
    height: 2px;
    margin: 0 auto 30px auto;
}
.section-heading h2 {
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

a{
    text-decoration: none;
}
.create-nft .main-button {
    text-align: right;
}
.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.main-button a:after {
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.create-nft .item {
    margin-top: 30px;
    position: relative;
}
.create-nft .first-item .number {
    position: absolute;
    right: 0;
    top: -20px;
}
.item .icon {
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: #fff;
    border-radius: 50%;
}
.create-nft .item .icon img {
    max-width: 31px;
}
img {
    width: 100%;
    overflow: hidden;
}
.create-nft h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6 {
    // margin-top: 0px;
    // margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}
.create-nft p {
    margin-right: 30px;
}
p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.create-nft .first-item .number {
    position: absolute;
    right: 0;
    top: -20px;
}
.create-nft .first-item:after {
    position: absolute;
    width: 1px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    right: 5px;
    top: 5%;
}
.create-nft .item a {
    color: #3CF;
}


.create-nft .second-item .number {
    position: absolute;
    right: 0;
    top: -20px;
}
.create-nft .second-item:after {
    position: absolute;
    width: 1px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    right: 5px;
    top: 5%;
}