.container-fluid {
  padding: 0px !important;
}
.row{
  margin:0px!important;
}
.jumbotron {
  height: 850px;
  background-image: url(../../assets/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*Title Start*/
.my_text {
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  padding: 280px 80px 0px 125px;
}

.my_text span {
  font-weight: bold;
  font-size: 20px !important;
}

.my_text h1 {
  font-weight: bold;
  font-size: 55px !important;
}

.my_text p {
  font-size: 16px !important;
}

.my_text button {
  color: white !important;
  outline: none;
  padding: 10px 20px !important;
  border: 2px solid #8758fb !important;
  border-radius: 20px !important;
}

.my_text .fst_btn {
  background-color: transparent !important;
}
.my_text .scd_btn {
  background-color: #8758fb !important;
}
/*Title End*/

/*Carousel Start*/
.my_carousel {
  padding: 260px 110px 0px 160px;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  color: #8758fb !important;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  margin-top: 550px;
  opacity: 1;
}
span.carousel-control-prev-icon {
  margin-left: 370px;
  background-image: url(../../assets/images/Vector.svg) !important;
  width: 1rem !important;
  height: 1rem !important;
}
span.carousel-control-next-icon {
  margin-right: 370px;
  background-image: url(../../assets/images/Vector2.svg) !important;
  width: 1rem !important;
  height: 1rem !important;
}
span.carousel-control-prev-icon:hover,
span.carousel-control-next-icon:hover {
  color: #8758fb !important;
}
/*Carousel End*/

/* Categories Start*/
.categories {
  width: 100%;
  height: 1800px;
  background-image: url(../../assets/images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.line {
  width: 10%;
  margin: auto;
  height: 5px;
  background-color: #8758fb;
}
.categories {
  padding: 100px 40px !important;
}
.categories h2 {
  color: white;
  font-family: "Roboto", sans-serif !important;
  text-align: center;
}
.categories a {
  color: #8758fb;
}
.categories h4 {
  color: white;
  font-size: 16px !important;
  padding: 15px 20px 0px 20px;
}
.fst {
  width: 100% !important;
  padding-top: 35px;
  background-color: rgb(40, 43, 47);
  border: 1px solid rgb(64, 66, 69);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main img {
  padding: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
}
.scd {
  width: 42px;
  height: 42px;
  visibility: hidden !important;
  position: relative;
  top: 15%;
  color: #8758fb;
  padding: 12px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 450ms, background-color 200ms;
}
.col-lg-2 .scd {
  display: flex;
  justify-content: center;
}
.categories .col-lg-2:hover {
  .scd {
    visibility: visible !important;
    opacity: 1;
    cursor: pointer;
  }
}
.scd:hover {
  background-color: #8758fb;
  color: white;
  border: 1px solid #8758fb;
}
/* Categories End*/

/* Responsive Jumbotron*/

@media screen and (min-width: 300px) and (max-width: 550px) {
  .scd_btn {
    margin-left: 0px !important;
    margin-top: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 980px) {
  .my_text {
    padding-top: 250px!important;
    padding-left: 90px;
  }
  .categories{
    margin-top: 600px;
  }
  .fst{
    margin-bottom: 30px;
  }
}
