<!-- <div class="imgss">
  <h1 style="color: white; font-size: 20px;">Liberty NFT Market</h1>
  <h1 style="font-size: 50px;color: white;">VIEW ITEM DETAILS</h1>
  <h1 style="color: #8c74d4;font-size: 17px;transform: translate(-4%,150%);">Home ></h1>
  <h1 style="font-size: 17px;color: white;transform: translate(3%,27%);"> ITEM DETAILS</h1>


  <div class="button">
    <a style="transform: translate(0%,60%);" href="http://localhost:4200/explore">Explore your Items</a>
    <a style="transform: translate(10%,60%);" href="http://localhost:4200/createyour">Create your NFT</a>
  </div>
</div>


<div class="main">
  <div class="mains"></div>
  <div class="strong">
    <h2 style="color: white;transform: translate(35%,400%);">View Details <em>For Item</em> Here</h2>
  </div>
  <div class="robot">
    <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/item-details-01.jpg" alt="">
  </div>
  <div class="text">
    <h4 style="transform: translate(0%,-50%);">Dolores Haze westworld Eye</h4>
    <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/author-02.jpg" alt=""
      style="max-width: 50px; border-radius: 50%;">
    <h6>Liberty Artist</h6>
    <h6 style="color:#8c74d4 ;">@libertyart</h6>
    <h5 style="width: 500px;height: 40px;">Lorem ipsum dolor sit amet, consectetu dipiscingei elit, sed do eiusmod
      tempor incididunt ut labore.</h5>

  </div>
  <div class="row">
    <div class="col-3">
      <span class="bid">Current Bid
        <br>
        <strong style="color: #8c74d4;font-size: 23px;">6.06 ETH</strong>
        <br>
        <em style="color: gray;">($8.025.50)</em>

      </span>
    </div>
    <div class="col-5">
      <span class="owner">Owner
        <br>
        <strong style="color: #8c74d4;font-size: 23px;">K.Mhuseyn</strong>
        <br>
        <em style="color: gray;">(@muhammed15w)</em>
      </span>

    </div>
    <div class="col-7">
      <span class="owner">Ends In
        <br>
        <strong style="color: #8c74d4;font-size: 23px;">3D 05H 20M 58S</strong>
        <br>
        <em style="color: gray;">(January 22nd,2023)</em>
      </span>

    </div>
    <div class="bidbtn">
      <h5 style="color: gray;">Place Bid:</h5>
      <div class="quanty">
        <h6>1 ETH</h6>
      </div>
      <div>
        <button type="submit" class="btn">Submit Now</button>
      </div>
    </div>
  </div>


<div class="prices">
<h4>Current Biddings Prices ( ETH )</h4>
</div>
<select name="selectmee" id="selectme">
  <option selected>Menu</option>
  <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
  <option value="low">Sort By: Lowest</option>
  <option value="high">Sort By: Highest<option value="low">Sort By: Lowest</option>
</select>



<div class="david">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-01.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
  
</div>
<div class="david david2">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-02.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
  
</div>
<div class="david david3">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-03.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
</div>
<div class="david david4">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-02.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
</div>
<div class="david david5">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-04.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
</div>
<div class="david david3">
  <div class="lftimg">
    <img class="img2" src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-01.jpg" alt="">
  </div>
  <div class="right-text">
      <h4>David Walker</h4>
      <a style="color: #8c74d4;" href="#">@davidwalker</a>
      <div class="line-dec"><hr></div>
      <h6>Bid: <em style="color: #8c74d4;">0.06 ETH</em></h6>
      <span style="color: #8c74d4;" class="date">24/07/2022, 22:00</span>

  </div>
  
   -->