.page-heading {
    background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/heading-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 250px;
    text-align: center;
    background-color: rgb(42, 42, 42);

}

a {
    text-decoration: none;
}

.normal-space {
    padding: 250px 0px 120px !important;
}

.page-heading h6 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
}

.page-heading h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
}

.page-heading span {
    color: rgb(138, 117, 218);
    font-size: 15px;
}

.page-heading span a {
    color: rgb(255, 255, 255);
}

.page-heading .buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.page-heading .buttons .main-button {
    margin-right: 15px;
}

.main-button a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 83, 252);
    border: 1px solid rgb(116, 83, 252);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
}

.main-button a::after {
    width: 78%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.border-button a::after {
    width: 78%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}


.page-heading .buttons .border-button {
    margin-left: 15px;
}

.border-button a:hover {
    background-color: rgb(116, 83, 252);
    color: rgb(255, 255, 255);
}

.border-button a::after {
    width: 78%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.border-button a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(116, 83, 252);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
}


.item-details-page {
    background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
    color: white;
   padding: 50px;
}
.create-nft {
    background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
}
.section-heading .line-dec {
    width: 100px;
    height: 2px;
    background-color: rgb(116, 83, 252);
    margin: 0px auto 30px;
}
.section-heading h2 em {
    color: rgb(116, 83, 252);
    font-style: normal;
}
.section-heading h2 {
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
img {
    width: 100%;
    overflow: hidden;
}

footer {
    background: linear-gradient(132deg, rgb(125, 90, 254) 25%, rgb(160, 84, 244) 100%);
    text-align: center;
    padding: 25px 0px;
}
.align-self-center {
    align-self: center !important;
}
.item-details-page h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

.item-details-page h4 {
    font-size: 20px;
    margin-bottom: 25px;
}
.item-details-page span.author {
    display: flex;
    margin-bottom: 30px;
}
.item-details-page p {
    position: relative;
    z-index: 2;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.item-details-page span.bid, .item-details-page span.owner, .item-details-page span.ends {
    line-height: 35px;
    position: relative;
    z-index: 2;
}


.col-3 {
    flex: 0 0 auto;
    width: 25%;
}


.col-4 {
    flex: 0 0 auto;
    width: 33.3333%;
}


.col-5 {
    flex: 0 0 auto;
    width: 41.6667%;
}

.item-details-page form {
    margin-top: 40px;
}
.align-self-center {
    align-self: center !important;
}
.item-details-page form label {
    color: rgb(175, 175, 175);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.item-details-page form input {
    width: 100px;
    height: 46px;
    border: 1px solid rgb(116, 83, 252);
    outline: none;
    border-radius: 23px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 15px;
}



.item-details-page button::after {
    width: 50%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.item-details-page button {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 83, 252);
    border: 1px solid rgb(116, 83, 252);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
}



// Current Bid //
.current-bid[_ngcontent-sfu-c5] .mini-heading[_ngcontent-sfu-c5] h4[_ngcontent-sfu-c5] {
    background-color: rgb(116, 83, 252);
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 22px;
    padding: 30px;
}
.current-bid .mini-heading h4 {
    background-color: rgb(116, 83, 252);
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 22px;
    margin-top: 50px;
}
fieldset {
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.current-bid select {
    float: right;
    width: 150px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

.current-bid .item {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(40, 43, 47);
    border: 1px solid rgb(64, 66, 69);
}
.current-bid .item .left-img {
    flex-basis: 80%;
    display: inline-flex;
}
.current-bid .item .right-content {
    padding: 30px;
    width: 100%;
}
.current-bid .item .right-content h4 {
    font-size: 20px;
    margin-bottom: 0px;
}
.current-bid .item .right-content a {
    font-size: 15px;
    color: rgb(116, 83, 252);
    font-weight: 700;
}
.current-bid .item .right-content .line-dec {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 25px 0px;
}
.current-bid .item .right-content h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}
.current-bid .item .right-content span.date {
    font-size: 15px;
    color: rgb(116, 83, 252);
}

// Create-Your NFT //




