<div class="jumbotron jumbotron-fluid boss">
  <div class="container">
    <p class="display-4 nft">Liberty NFT Market</p>
    <h1 class="lead nft1">VIEW ITEM DETAILS</h1>
  </div>
  <div class="container">
    <h5 class="purple">Home ></h5>
    <h5 class="purple1"> Item Details</h5>
  </div>
  <div class="button">
    <a style="transform: translate(0%,60%);" href="http://localhost:4200/explore">Explore your Items</a>
    <a style="transform: translate(10%,60%);" href="http://localhost:4200/createyour">Create your NFT</a>
  </div>
</div>

<div class="callout main">
  <div class="mains"></div>
  <div class="strong">
    <h2>View Details <em>For Item</em> Here</h2>
  </div>

  <div class="container robotman distance">
    <div class="row">
      <div class="col">
        <img class="bd-placeholder-img pdm " width="540" height="440"
          src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/item-details-01.jpg" alt="">
      </div>
      <div class="col">
        <h4>Dolores Haze westworld Eye</h4>
        <img class="market1"
          src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/author-02.jpg" alt="">

        <p style="padding: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sint ad, soluta quas
          doloremque cupiditate aliquid veniam possimus? Consequatur, facere vel fuga aspernatur maiores recusandae nemo
          eius cumque</p>

        <div class="container">
          <div class="row">
            <div class="col">
              Current Bid
              <h5 style="color: #7453fc; padding-top: 10px;">6.06 ETH</h5>
              <h6 style="color: gray;">($8,025.50)</h6>
            </div>
            <div class="col">
              Owner
              <h5 style="color: #7453fc; padding-top: 10px;">Huseynk</h5>
              <h6 style="color: gray;">(Email.com)</h6>
            </div>
            <div class="col">
              Ends It
              <h5 style="color: #7453fc; padding-top: 10px;">3D 05H 20M 58S</h5>
              <h6 style="color: gray;">(16 Aprel 20:20)</h6>
            </div>
          </div>
        </div>
        <div class="button button2">
          <h5 style="color: gray;float: left;padding-top: 30px;margin:10px;">Place bid:</h5>
          <a style="transform: translate(-70%,58%);" href="http://localhost:4200/explore">1 ETH</a>
          <a style="transform: translate(-40%,58%);" href="http://localhost:4200/createyour">Submit Now</a>
        </div>



        <div class="row collage">
          <div class="col-lg-6">
            <div class="mini-heading"><h4>Current Biddings Prices ( ETH )</h4></div>
          </div>
          <div class="col-lg-6">
            <fieldset>
              <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                  <option selected="">Sort By: Latest</option>
                  <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                  <option value="low">Sort By: Lowest</option>
                  <option value="high">Sort By: Highest</option>
              </select>
          </fieldset>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-01.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-02.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-03.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-02.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-04.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="left-img">
                <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/current-01.jpg" alt="">
              </div>
              <div class="right-content">
                <h4>David Walker</h4>
                <a href="#">@davidwalker</a>
                <div class="line-dec"></div>
                <h6>Bid: <em>0.06 ETH</em></h6>
                <span class="date">24/07/2022, 22:00</span>
              </div>
            </div>
          </div>
        </div>





      </div>